Repository southem/southem: changes, and which Codecov flags are due for each by the changed paths.
All: animation, fonts, html, icons, styles, theme, tools, ui

Showcases
  showcases/.eslintignore
  showcases/.eslintrc
  showcases/.gitignore
  showcases/.prettierignore
  showcases/.prettierrc
  showcases/.watchmanconfig
  showcases/metro.config.js
  showcases/package.json
  showcases/webpack.config.js
  yarn.lock
Due: none

Showcases
  showcases/app.json
Due: none

Showcases
  showcases/metro.config.js
Due: none

Templateyyyy
  packages/tools/index.ts
  packages/tools/src/device.native.ts
  packages/tools/src/normalize.tsx
  packages/tools/src/timer.expo.ts
  packages/tools/src/timer.native.ts
  scripts/build.ts
  scripts/bump-version.ts
  scripts/common.ts
  scripts/create-doc-app-navigation.ts
  scripts/create-doc-app-showcases.ts
  scripts/create-doc-themes.ts
  scripts/docs-dirs.ts
  scripts/gulpfile.ts
  scripts/parse-docs.ts
  scripts/publish-docs.ts
  scripts/publish-packages.ts
  showcases/babel.config.js
  showcases/metro.config.js
  showcases/package.json
  yarn.lock
Due: tools

Showcases
  packages/tools/index.ts
  packages/tools/src/device.expo.ts
  packages/tools/src/device.ts
  packages/tools/src/normalize.tsx
  packages/tools/src/timer.bck.ts
  packages/tools/src/timer.ts
  showcases/package.json
  showcases/src/services/app-info.service.expo.ts
  yarn.lock
Due: tools

Showcases
  packages/ui/src/components/Popover/popover.tsx
  packages/ui/src/components/Popover/type.ts
  packages/ui/src/components/TimeAgo/index.tsx
  showcases/app.json
  showcases/package.json
  showcases/src/app/app-loading.component.nv.tsx
  showcases/src/app/app-loading.component.tsx
  showcases/src/components/splash/splash-image.expo.tsx
  showcases/src/components/splash/splash-image.nv.tsx
  showcases/src/components/splash/splash-image.tsx
  showcases/src/navigation/mobile/navigator.tsx
  showcases/src/navigation/themes.navigator.tsx
  showcases/src/scenes/themes/type.ts
  showcases/src/services/app-info.service.expo.ts
  showcases/src/services/app-info.service.nv.ts
  showcases/src/services/app-info.service.ts
  showcases/src/services/app-reload.service.expo.ts
  showcases/src/services/app-reload.service.nv.ts
  showcases/src/services/app-reload.service.ts
  showcases/src/services/app-storage.service.ts
  showcases/src/services/web-browser.nv.ts
  showcases/src/services/web-browser.service.expo.ts
  showcases/src/services/web-browser.service.ts
  showcases/src/utils/device.ts
  yarn.lock
Due: ui

Show cases
  README.md
  packages/styles/src/elevations/index.ts
  packages/styles/src/styles/background/default.ts
  packages/styles/src/styles/background/light.ts
  packages/styles/src/styles/button/dark.ts
  packages/styles/src/styles/button/light.ts
  packages/theme/src/tools/resolveIncludes.tsx
  showcases/src/app/app-loading.component.tsx
  showcases/src/app/app.component.tsx
  showcases/src/navigation/tablet/tab-bar.tsx
  showcases/src/scenes/home/home-drawer.component.tsx
Due: styles, theme

Show Time
  README.md
  showcases/src/app/app.component.tsx
  showcases/src/navigation/articles.navigator.tsx
  showcases/src/navigation/auth.navigator.tsx
  showcases/src/navigation/components.navigator.tsx
  showcases/src/navigation/dashboards.navigator.tsx
  showcases/src/navigation/ecommerce.navigator.tsx
  showcases/src/navigation/layouts.navigator.tsx
  showcases/src/navigation/messaging.navigator.tsx
  showcases/src/navigation/social.navigator.tsx
  showcases/src/navigation/themes.navigator.tsx
Due: none

Service
  README.md
  __tests__/icon/Icon.spec.tsx
  __tests__/icon/icon-registry.spec.tsx
  jest.config.js
  packages/html/src/Html.tsx
  packages/icons/src/service/render.tsx
  packages/ui/src/common/card/index.tsx
  packages/ui/src/common/image/index.tsx
  packages/ui/src/common/list/index.tsx
  packages/ui/src/components/BottomNavigation/BottomNavigation.tsx
  packages/ui/src/components/Drawer/Drawer.tsx
  packages/ui/src/components/Loader/index.js
  packages/ui/src/components/Measure/measure.tsx
  packages/ui/src/components/MultiSwitch/index.js
  packages/ui/src/components/Prompt/index.js
  packages/ui/src/components/Share/index.js
  showcases/app.json
  showcases/package.json
  showcases/src/app/app-theming.ts
  showcases/src/app/app.component.tsx
  showcases/src/components/icons/index.tsx
  showcases/src/components/safe-area-layout/index.tsx
  showcases/src/navigation/app.navigator.tsx
  showcases/src/navigation/articles.navigator.tsx
  showcases/src/navigation/components.navigator.tsx
  showcases/src/navigation/mobile/navigator.tsx
  showcases/src/scenes/libraries/libraries.component.tsx
  showcases/src/scenes/themes/themes.component.tsx
  showcases/src/services/theme.service.ts
  yarn.lock
Due: html, icons, ui

Showcases
  showcases/app.json
  showcases/src/app/app.component.tsx
  showcases/src/scenes/themes/type.ts
  showcases/src/services/theme.service.ts
Due: none

Ready update
  .devcontainer/docker-compose.yml
  package.json
  packages/animation/package.json
  packages/icons/package.json
  packages/theme/package.json
  packages/ui/package.json
  showcases/app.json
  showcases/app.web-build.json
  showcases/babel.config.js
  showcases/index.js
  showcases/package.json
  showcases/src/app/app-loading.component.native.tsx
  showcases/src/app/app.component.tsx
  showcases/src/services/theme.service.ts
  showcases/webpack.config.js
  website/package.json
  yarn.lock
Due: animation, icons, theme, ui

Path conditions:
  animation: any of: packages/animation/
  fonts: any of: packages/fonts/
  html: any of: packages/html/
  icons: any of: packages/icons/
  styles: any of: packages/styles/
  theme: any of: packages/theme/
  tools: any of: packages/tools/
  ui: any of: packages/ui/
